@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /* dark mode */
    --main-hue: #0005ff;
    --cta: #bbd0ff; /* choose color in the upper-left quadrant */
    --primary-text: #ffffff; /* 0% */
    --secundary-text: #cfd2d6; /* 20% */
    --tertiary-text: #acb1b8; /* 35% */
    --accent: #666d7a; /* 65% */
    --bg-card: #1e293c; /* 95% */
    --bg: #131f33; /* 100%,  choose 15% away from the bottom */
    /* size */
    --full-height: 100vh;
    --full-width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

.app {
    background: var(--bg);

    height: var(--full-height);
    width: var(--full-width);
}

.app-title {
    font-size: 1.25rem;
    font-weight: 400;
}

header {
    color: var(--secundary-text);

    height: calc(var(--full-height) - 90vh);
    width: var(--full-width);
}

.container {
    color: var(--primary-text);

    height: calc(var(--full-height) - 20vh);
    width: calc(var(--full-width) - 10vh);
}

.card {
    background: var(--bg-card);

    border: 1px solid var(--accent);
    border-radius: 12px;

    height: auto;
    width: 18rem;
}

.card:hover {
    box-shadow: 0 22px 40px rgba(0, 0, 0, 0.3);
}

.card-content {
    padding: 1rem;
}

.card-header,
.card-body,
.card-footer {
    min-height: 4rem;
    padding: 1rem;
}

.card-title {
    color: var(--primary-text);

    font-size: 1.5rem;
    font-weight: 600;
}
.card-subtitle {
    color: var(--tertiary-text);

    font-size: .9rem;
    font-weight: 400;
}
.card-text {
    color: var(--secundary-text);
    font-size: 1rem;
    font-weight: 100;
    text-align: left;
}

.card-footer {
    width: 100%;
}

footer {
    color: var(--tertiary-text);

    height: calc(var(--full-height) - 90vh);
    width: var(--full-width);
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.d-flex{
    display: flex;
}

.aling-items__center {
    align-items: center;
}

.justify-content__center {
    justify-content: center;
}

.flex-direction__column {
    flex-direction: column;
}

.flex-direction__row {
    flex-direction: row;
}

.btn {
    border: none;
    border-radius: .25rem;

    cursor: pointer;

    padding: .5rem .5rem;

    height: 2.5rem;
    min-width: 8rem;
}

.btn-primary {
    background: var(--cta);
}

.frm {
    width: 100%;
}

.frm-section {
    padding: .5rem 0;
}

input {
    border:none;
    border-radius: .25rem;

    font-size: 1rem;

    margin: .25rem 0;
    padding: .5rem .5rem;
}

input::placeholder {
    font-size: .75rem;
}

textarea {
    margin: .25rem 0;
    padding: .5rem .5rem;
    
    resize: none;
    width: 100%;
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {
    .card {
        width: 28rem;
    }
}

@media (min-width: 1024px) {
    .card {
        width: 38rem;
    }
}

@media (min-width: 1280px) {
    .card {
        width: 48rem;
    }
}